* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Carrois Gothic SC',
    sans-serif;
}

#app {
  display: flex;
  background-color: #161414;
  color: #d5d0c4;
  height: 100vh;
  /* overflow: auto; */
}

#users-container {
  width: 15vw;
  height: 100vh;
  padding-top: 10px;
}

.welcome-message {
  margin-bottom: 10px;
  text-align: center
}